body {
    background-image: url(../public/image/Фон\ 1.jpg);
    background-size: cover;
}

a {
    color: inherit;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 79px;
}

.header__logo {
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: white;
    cursor: pointer;
}

.header__logo:hover {
    color: rgba(1, 129, 63, 1);
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-right: 24px;
    cursor: pointer;
}

.icon:hover>path {
    fill: rgba(1, 129, 63, 1);
}

.authorization-text {
    padding: auto;
    padding-left: 27px;
    height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

.authorization__link:hover {
    color: rgba(1, 129, 63, 1);
}

.form__wrapper {
    height: calc(100vh - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    width: 444px;
    height: 584px;
    padding: 31px 60px;
}

.form__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.form__subject {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(67, 67, 67, 1);
}

.button-fb {
    width: 160px;
    height: 48px;
    background: rgba(48, 93, 184, 1);
    display: flex;
}

.button-fb__icon {
    margin: 12px 16px;
}

.logo-fb {
    padding-left: 18px;
    display: flex;
    align-items: center;
    height: 28px;
    border-left: 1px solid rgba(10, 22, 47, .1);
    margin: 10px 0;
}

.button-fb:hover {
    background: rgba(2, 34, 99, 1);
}

.button-go {
    width: 160px;
    height: 48px;
    background: rgba(223, 74, 50, 1);
    display: flex;
}

.button-go__icon {
    margin: 14px 7px;
}

.logo-go {
    padding-left: 30px;
    display: flex;
    align-items: center;
    height: 28px;
    border-left: 1px solid rgba(10, 22, 47, .1);
    margin: 10px 0;
}

.logo-fb, .logo-go {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}

.button-go:hover {
    background: rgba(171, 31, 9, 1);
}

.form__fieldset {
    margin: 16px 0;
    border-top: 1px solid rgba(242, 242, 242, 1);
    text-align: center;
    color: rgba(132, 132, 132, 1);
}

.form__input {
    margin-top: 15px;
    width: 324px;
    height: 44px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 4px;
    padding-left: 20px;
    color: rgba(132, 132, 132, 1);
}

.form__input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    color: rgba(67, 67, 67, 1);
}

/* checkbox - start*/

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 2px;
    top: 2px;
    width: 17px;
    height: 10px;
    border-radius: 1px;
    border-left: 3px solid rgba(60, 184, 120, 1);
    border-bottom: 3px solid rgba(60, 184, 120, 1);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:hover + label:after {
    left: 2px;
    top: 2px;
    width: 17px;
    height: 10px;
    border-radius: 1px;
    border-left: 3px solid rgba(1, 129, 63, 1);
    border-bottom: 3px solid rgba(1, 129, 63, 1);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

/* checkbox - end*/

.authorization-text, .form__fieldset, .form__input, .form__link, .checkbox__label {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.form__link, .label__link {
    color: rgba(60, 184, 120, 1);
}

.form__link:hover, .label__link:hover {
    text-decoration:underline;
    color: rgba(1, 129, 63, 1);
}

.form__button {
    width: 324px;
    height: 46px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: rgba(255, 255, 255, 1);
}

.form__button:hover {
    background: rgba(1, 129, 63, 1);
}